@{
    ViewData["Title"] = "User created";
}

<div class="h2">User created successfully!</div>
<div class="text-info">Please log in using your new account credentials.</div>

<a href="~/" class="btn btn-dark mt-5">Go to main page</a>