@model IEnumerable<CommentViewModel>

<div class="card-body">
    @if (Model?.Count() == 0)
    {
        <div class="card-text">There are no comments yet.</div>
    }
    else
    {
        @foreach (var comment in Model.Where(comm => comm.OutsideCommentId == null).OrderBy(item => item.DateCreated))
        {
            ViewData["OusideCommentId"] = comment.Id;
            <div class="card mb-2">
                <div class="card-header d-flex">
                    @comment.Username
                    @if (User.IsInRole(nameof(Role.Admin)) || User.Identity.Name == comment.Username)
                    {
                        <partial name="_DeleteCommentPartial" model="comment" />
                    }
                </div>
                <div class="card-body">
                    <div class="card-text">@comment.Text</div>
                    <div class="text-right card-text" style="color: gray">@comment.DateCreated</div>
                    @if (comment?.Replies?.Count > 0)
                    {
                        <partial name="_RepliesPartial" model="comment.Replies" view-data="ViewData" />
                    }
                    <div class="card-text">
                        <partial name="_AddCommentPartial" model="new AddCommentModel()" view-data="ViewData" />
                    </div>
                </div>
            </div>
        }
    }
    <partial name="_AddCommentPartial" model="new AddCommentModel()" />
</div>
