@model IEnumerable<Comment>
@{
    var outsideCommentId = (int)ViewData["OusideCommentId"];
}

@foreach (var comment in Model.OrderBy(item => item.DateCreated))
{
    <div class="card mb-2">
        <div class="card-header d-flex">
            @comment.Username
            @if (User.IsInRole("Administrator") || User.Identity.Name == comment.Username)
            {
                <partial name="_DeleteCommentPartial" model="comment" />
            }
        </div>
        <div class="card-body">
            <div class="card-text">@comment.Text</div>
            <div class="text-right card-text" style="color: gray">@comment.DateCreated</div>
            @if (comment?.Replies?.Count > 0)
            {
                <partial name="_RepliesPartial" model="comment.Replies" view-data="ViewData" />
            }
            <div class="card-text">
                @{ ViewData["OusideCommentId"] = comment.Id; }
                <partial name="_AddCommentPartial" model="new Comment()" view-data="ViewData" />
            </div>
        </div>
    </div>
}

@{
    ViewData["OusideCommentId"] = null;
}
