@model Blog.Models.Article

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <br />
    <div class="h4 card-header">@Model.Title</div>
    <div class="card-body">
        <div class="card-text">
            @foreach (var p in Model.Text.Split(Environment.NewLine))
            {
                @p
                <br />
            }
        </div>
        <div class="text-right card-text" style="color: gray">
            @Html.DisplayFor(model => model.Date)
        </div>
    </div>
</div>
<div class="mt-4 d-flex justify-content-md-center">
    <a asp-action="Index" class="btn btn-primary m-1">Go to full list</a>
    @if (User.IsInRole("Administrator"))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary m-1">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-secondary m-1">Delete</a>
    }
</div>
