@model IEnumerable<Blog.Models.Article>

@{
    ViewData["Title"] = "Articles";
}

<div class="h1 mb-4">Articles</div>

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary m-1">Create New</a>
    </p>
}

@foreach (var item in Model) {
    <div class="card mb-5">
        <div class="card-header h5">@Html.DisplayFor(modelItem => item.Title)</div>
        <div class="card-body">
            <div class="card-text">
                @foreach (var p in item.Text.Split(Environment.NewLine))
                {
                    @p
                    <br />
                }
            </div>
            <div class="card-text text-right" style="color: gray">
                @Html.DisplayFor(modelItem => item.Date)
            </div>

            @if (User.IsInRole("Administrator"))
            {
                <div class="card-text">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary m-1">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-secondary m-1">Delete</a>
                </div>
            }
        </div>
    </div>
}
