@model IEnumerable<Blog.Models.Article>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-5">
    <h1 class="display-4">Welcome to my small Blog!</h1>
</div>

@foreach (var article in Model) {
    <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id" class="text-decoration-none text-reset">
        <div class="card mb-2">
            <div class="card-header h4">
                @article.Title
                <div class="h6">
                    <strong>@article.Comments.Count()</strong> comments.
                </div>
                <div class="h6" style="color: gray">
                    @article.Date
                </div>
            </div>
        </div>
    </a>
}

@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-controller="Articles" asp-action="Create" class="btn btn-primary m-1">Create New</a>
    </p>
}

